/bin/
/testOutput/
/example2.xml
/.DS_Store
/.\testData\testSimpleXML\testStoryElements.xml
/.\testData\testSimpleXML\testStoryElements2.xml
/.\testData\testSimpleXML\testStoryElements.xml
/.\testData\testSimpleXML\testStoryElements2.xml
